- if @restaurants.empty?
  %p No restaurants found
- else
  %table{border: 1}
    %tr
      %th Name
      %th Description
    - @restaurants.each do |restaurant|
      %tr
        %td.restaurant_name= link_to restaurant.name, restaurant_path(restaurant)
        %td.restaurant_description= restaurant.description

= link_to 'Add Restaurant', new_restaurant_path
